bond-film-flow.json
[{"id":"a252948d.9913c8","type":"tab","label":"Front End Flow","disabled":false,"info":"This is a demo where I pull data from a Db2 DB, running on AIX. In this case, I have set it up to be able to \"ask\" my data about actors who have played in the Bond Films, with the hope of addressing the Curse of the Bond girls."},{"id":"c99e5b55.507ac8","type":"tab","label":"Format output","disabled":false,"info":""},{"id":"b4e85d7a.dd03a","type":"dashDB","z":"","hostname":"9.196.156.250","db":"IMDB","port":"50000","name":"IMDB in Db2 on AIX"},{"id":"d84099e3.3c6a48","type":"http in","z":"a252948d.9913c8","name":"BOT Home Page","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":100,"y":760,"wires":[["fd03323b.2ddd1"]]},{"id":"7994752d.33d7dc","type":"template","z":"a252948d.9913c8","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n# Copyright 2018 IBM\n#\n# Licensed under the Apache License, Version 2.0 (the \"License\");\n# you may not use this file except in compliance with the License.\n# You may obtain a copy of the License at\n#\n#     http://www.apache.org/licenses/LICENSE-2.0\n#\n# Unless required by applicable law or agreed to in writing, software\n# distributed under the License is distributed on an \"AS IS\" BASIS,\n# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n# See the License for the specific language governing permissions and\n# limitations under the License.\n-->\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>My BOT</h1>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div>\n\t      <form>\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/><br/>\n\t      </form>\n\t      <button onclick=\"javascript:onChatClick()\" id=\"id_enter\">Send</button>\n\t  </div>\n    </div>\n    \n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script>{{{payload.script}}}</script>\n  </body>\n</html>\n","x":519,"y":760,"wires":[["32fc5f27.1ec9d"]]},{"id":"32fc5f27.1ec9d","type":"http response","z":"a252948d.9913c8","name":"","x":733,"y":760,"wires":[]},{"id":"b16dbdf4.59f6c","type":"http in","z":"a252948d.9913c8","name":"BOT REST API","url":"/botchat","method":"post","upload":false,"swaggerDoc":"","x":120,"y":200,"wires":[["73846e09.4c6f4"]]},{"id":"b07dc868.2858d8","type":"http response","z":"a252948d.9913c8","name":"","statusCode":"","headers":{},"x":1090,"y":500,"wires":[]},{"id":"fd03323b.2ddd1","type":"template","z":"a252948d.9913c8","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"$(document).ready(function() {\n    javascriptCheck();\n    $('#id_contextdump').hide();\n    enterbutton();\n    invokeAjax (\"Hello\");\n});\n\n// if javascript is enabled on the browser then can remove the warning message\nfunction javascriptCheck() {\n    $('#no-script').remove();\n}\n\n// creates div for interaction with bot      \nfunction createNewDiv(who, message) {\n    var txt = who + ' : ' + message;\n    return $('<div></div>').html(txt);\n}\n\n// appends latest communication with bot to botchathistory\nfunction chat(person, txt) {\n    $('#id_botchathistory').append(createNewDiv(person, txt));\n}    \n\n// sets pressing of enter key to perform same action as send button\nfunction enterbutton(){\n    $(function() {\n        $(\"form input\").keypress(function (e) {\n        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n             $('#id_enter').click();\n             return false;\n        } else {\n        return true;\n        }\n     });\n    });\n}\n\n// User has entered some text.\nfunction onChatClick() {\n    var txt = $('#id_chattext').val();\n    chat('You', txt); \n    invokeAjax(txt);\n    $('#id_chattext').val('');\n}\n\nfunction processOK(response) {\n    console.log(response);\n    console.log(response.botresponse.messageout);\n    console.log(response.botresponse.messageout.output.text);\n    console.log(response.botresponse.messageout.context);\n    chat('Bot', response.botresponse.messageout.output.text); \n    $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n}\n      \nfunction processNotOK() {\n    chat('Error', 'Error whilst attempting to talk to Bot');\n}\n      \nfunction invokeAjax(message) {\n    var contextdata = $('#id_contextdump').data('convContext');\n    console.log('checking stashed context data');\n    console.log(contextdata);\n        \n    var ajaxData = {};\n    ajaxData.msgdata = message;\n    if (contextdata) {\n        ajaxData.context = contextdata;    \n    }\n\n    $.ajax({\n        type: 'POST',\n        url: 'botchat',\n        data: ajaxData,\n        success: processOK,\n        error: processNotOK\n    });\n}","output":"str","x":323,"y":760,"wires":[["7994752d.33d7dc"]]},{"id":"6952863b.0a76c8","type":"comment","z":"a252948d.9913c8","name":"Conversation BOT Template","info":"","x":139,"y":719,"wires":[]},{"id":"d44f3680.694228","type":"comment","z":"a252948d.9913c8","name":"Conversation REST API","info":"","x":140,"y":140,"wires":[]},{"id":"779da7bf.2bbb88","type":"switch","z":"a252948d.9913c8","name":"Check intent","property":"intent","propertyType":"msg","rules":[{"t":"eq","v":"Greeting","vt":"str"},{"t":"eq","v":"List_Films_With_Character","vt":"str"},{"t":"eq","v":"List_Canon_Bond_Films","vt":"str"},{"t":"eq","v":"List_Bond_Girl_Actresses","vt":"str"},{"t":"eq","v":"List_Principals_In_Film","vt":"str"},{"t":"eq","v":"List_Career_History","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":290,"y":300,"wires":[["8370cafa.d8dd78"],["2b5045bf.18ebaa"],["8093f36d.216d2"],["a9ea09e8.3bb068"],["52631594.394dfc"],["a4d31490.38e1b8","23cfbf78.04c9a"]]},{"id":"595d24ac.905abc","type":"function","z":"a252948d.9913c8","name":"Pull out intent","func":"var intent=msg.payload.intents[0].intent;\nmsg.intent={};\nmsg.intent=intent\n\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":240,"wires":[["779da7bf.2bbb88"]]},{"id":"da7768a7.8587f8","type":"watson-conversation-v1","z":"a252948d.9913c8","name":"Bond Assistant","workspaceid":"09a96335-e80e-4aa5-9b4b-7af6d291e625","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":580,"y":200,"wires":[["595d24ac.905abc"]]},{"id":"756e49a9.e566d8","type":"link out","z":"a252948d.9913c8","name":"Bot REST API Out","links":["6c118439.49adec"],"x":335,"y":140,"wires":[]},{"id":"e866211b.6649f","type":"link in","z":"a252948d.9913c8","name":"Initial Check for previous Option In","links":["8fed7111.07b5"],"x":415,"y":140,"wires":[[]]},{"id":"8370cafa.d8dd78","type":"link out","z":"a252948d.9913c8","name":"Intent \"Greeting\" format out","links":["a5aa1cf1.33a06"],"x":935,"y":240,"wires":[]},{"id":"797b77c.3a0b788","type":"link in","z":"a252948d.9913c8","name":"Output to webpage in","links":["9820e5fa.2d6ad8"],"x":995,"y":500,"wires":[["b07dc868.2858d8"]]},{"id":"a38f1272.bfc2b","type":"link out","z":"a252948d.9913c8","name":"Intent \"List_Films_With_Character\" out","links":["7c18afe8.1af77"],"x":935,"y":300,"wires":[]},{"id":"d924c349.527f2","type":"debug","z":"a252948d.9913c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2020,"y":380,"wires":[]},{"id":"7e16e7d2.13e7b8","type":"link out","z":"a252948d.9913c8","name":"List Bond Films format in","links":["a3bab47b.b316f8"],"x":935,"y":340,"wires":[]},{"id":"14588c05.8e52c4","type":"function","z":"c99e5b55.507ac8","name":"Set botresponse","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["18af5255.da1bee"]]},{"id":"a5aa1cf1.33a06","type":"link in","z":"c99e5b55.507ac8","name":"Intent \"Greeting\" format in","links":["8370cafa.d8dd78"],"x":195,"y":120,"wires":[["14588c05.8e52c4"]]},{"id":"977c324d.8678a","type":"link out","z":"c99e5b55.507ac8","name":"Output to webpage out","links":["797b77c.3a0b788"],"x":975,"y":460,"wires":[]},{"id":"18af5255.da1bee","type":"template","z":"c99e5b55.507ac8","name":"HTML Template format greating","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.botresponse.messageout.output.text}}\n<br>{{.}}\n{{/payload.botresponse.messageout.output.text}}","output":"str","x":690,"y":120,"wires":[["977c324d.8678a"]]},{"id":"7c18afe8.1af77","type":"link in","z":"c99e5b55.507ac8","name":"Intent \"List_Films_With_Character\" in","links":["a38f1272.bfc2b"],"x":195,"y":200,"wires":[["13b7f9c6.e28fa6"]]},{"id":"d48519c4.3dc938","type":"template","z":"c99e5b55.507ac8","name":"HTML Template","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.botresponse.messageout.output.text}}\n<br>{{.}}\n{{/payload.botresponse.messageout.output.text}}\n","output":"str","x":700,"y":240,"wires":[["977c324d.8678a"]]},{"id":"a3bab47b.b316f8","type":"link in","z":"c99e5b55.507ac8","name":"List Bond Films format out","links":["7e16e7d2.13e7b8"],"x":195,"y":300,"wires":[["730a267f.158a28"]]},{"id":"c246cd6b.306ff","type":"function","z":"c99e5b55.507ac8","name":"Post Service Processing","func":"var request=global.get('request');\nmsg.req= {};\nmsg.req=request;\n\nvar response=global.get('response');\nmsg.res= {};\nmsg.res=response;\n\nvar params=global.get('params');\nmsg.params= {};\nmsg.params=params;\n\nvar mydata=global.get('mydata'); \nmsg.mydata = {};\nmsg.mydata=mydata;\n\nvar assist_out=global.get('assist_out');\nmsg.assist_out = {};\nmsg.assist_out=assist_out;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["de3bc0f2.6a3f5"]]},{"id":"c3cc7aca.ee9578","type":"template","z":"c99e5b55.507ac8","name":"HTML Template add Info URL","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p>I think you wanted me to list the official, canon, Bond Films. Here is the list I found online:</p>\n{{#payload.botresponse.messageout.output.text}}\n{{.}}\n{{/payload.botresponse.messageout.output.text}}\n</p>\n<p>You may may want to check out the article I got that from  \n<a target=\"_blank\" href=\"https://www.pocket-lint.com/tv/news/148096-james-bond-007-best-movie-viewing-order-chronological-release\">here</a>.</p>","output":"str","x":670,"y":380,"wires":[["977c324d.8678a"]]},{"id":"de3bc0f2.6a3f5","type":"function","z":"c99e5b55.507ac8","name":"Concatonate text","func":"output=msg.payload;\n\noutput=output.slice(0, -1);\n\nmsg.payload={};\nmsg.payload.botresponse={};\nmsg.payload.botresponse.messageout={};\nmsg.payload.botresponse.messageout.output={};\nmsg.payload.botresponse.messageout.output.text = []\nmsg.payload.botresponse.messageout.output.text[0] = output\n\nmsg.params = {\n    context : {}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["c3cc7aca.ee9578"]]},{"id":"73846e09.4c6f4","type":"function","z":"a252948d.9913c8","name":"Pre Service Processing","func":"msg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\nmsg.params.apikey = \"brt5stRsDIIwV1fXF61wrRJ3cFaUzuw1K1gJN11fpIoi\"\n\nglobal.set(\"mydata\",{});\nglobal.set(\"mydata\",msg.mydata);\nglobal.set(\"params\",{});\nglobal.set(\"params\",msg.params);\nglobal.set(\"request\",{});\nglobal.set(\"request\",msg.req);\nglobal.set(\"response\",{});\nglobal.set(\"response\",msg.res);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["da7768a7.8587f8"]]},{"id":"2b5045bf.18ebaa","type":"function","z":"a252948d.9913c8","name":"Pull out character","func":"var character=msg.payload.entities[1].value;\nmsg.character={};\nmsg.character.name=character;\nmsg.character.search=\"[\\\"\" + character + \"\\\"]\";\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":300,"wires":[["3c56402e.0c251"]]},{"id":"3c56402e.0c251","type":"dashDB in","z":"a252948d.9913c8","dashDB":"b4e85d7a.dd03a","service":"_ext_","query":"select primaryTitle from title_basics a, title_principals b where a.tconst = b.tconst and characters=?","params":"msg.character.search","name":"Extract films with character","x":780,"y":300,"wires":[["a38f1272.bfc2b"]]},{"id":"13b7f9c6.e28fa6","type":"split","z":"c99e5b55.507ac8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":290,"y":200,"wires":[["f2f83e76.5ad13"]]},{"id":"f2f83e76.5ad13","type":"function","z":"c99e5b55.507ac8","name":"More Primary Title to Payload","func":"output=msg.payload.PRIMARYTITLE\nmsg.payload={};\nmsg.payload=output;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":200,"wires":[["4d34f7a6.b86638"]]},{"id":"6682820a.24ffbc","type":"join","z":"c99e5b55.507ac8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":290,"y":240,"wires":[["7b710cab.cd5374"]]},{"id":"7b710cab.cd5374","type":"function","z":"c99e5b55.507ac8","name":"Concatonate text","func":"output = msg.payload;\nnum_films = msg.payload.length\ncharacter = msg.character.name;\n\nmsg.payload={};\nmsg.payload.botresponse={};\nmsg.payload.botresponse.messageout={};\nmsg.payload.botresponse.messageout.output={};\nmsg.payload.botresponse.messageout.output.text = []\nmsg.payload.botresponse.messageout.output.text[0] = \"I think you wanted me to list all the productions with the character \" + character + \" in them. I found \" + num_films + \" of them. Here is the list:\"\nmsg.payload.botresponse.messageout.output.text[1] = output.join(', ')\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["d48519c4.3dc938"]]},{"id":"8093f36d.216d2","type":"pythonshell in","z":"a252948d.9913c8","name":"List Official Bond Films","pyfile":"/usr/src/node-red/List_Bond_Films.py","virtualenv":"/usr/src/node-red/venv","continuous":false,"stdInData":false,"x":560,"y":340,"wires":[["7e16e7d2.13e7b8"]]},{"id":"4d34f7a6.b86638","type":"function","z":"c99e5b55.507ac8","name":"Remove spaces","func":"msg.payload=msg.payload.trim();\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":200,"wires":[["6682820a.24ffbc"]]},{"id":"a9ea09e8.3bb068","type":"pythonshell in","z":"a252948d.9913c8","name":"List Official Bond Girls","pyfile":"/usr/src/node-red/List_Bond_Girls.py","virtualenv":"/usr/src/node-red/venv","continuous":false,"stdInData":false,"x":560,"y":380,"wires":[["db547ccb.1d4c6"]]},{"id":"d078904d.af252","type":"link in","z":"c99e5b55.507ac8","name":"List Bond Girls format out","links":["db547ccb.1d4c6"],"x":195,"y":440,"wires":[["a2aa52d1.3de2d"]]},{"id":"2fcbeecb.a0f5d2","type":"function","z":"c99e5b55.507ac8","name":"Post Service Processing","func":"var request=global.get('request');\nmsg.req= {};\nmsg.req=request;\n\nvar response=global.get('response');\nmsg.res= {};\nmsg.res=response;\n\nvar params=global.get('params');\nmsg.params= {};\nmsg.params=params;\n\nvar mydata=global.get('mydata'); \nmsg.mydata = {};\nmsg.mydata=mydata;\n\nvar assist_out=global.get('assist_out');\nmsg.assist_out = {};\nmsg.assist_out=assist_out;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":480,"wires":[["1400268.eaa45da"]]},{"id":"1d7e07c6.7c8f18","type":"template","z":"c99e5b55.507ac8","name":"HTML Template add Info URL","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p>I think you wanted me to list the actresses who played Bond Girls in the official, canon, Bond Films. Here is the list I found online:</p>\n{{#payload.botresponse.messageout.output.text}}\n{{.}}\n{{/payload.botresponse.messageout.output.text}}\n</p>\n<p>You may may want to check out the article I got that from  \n<a target=\"_blank\" href=\"https://en.wikipedia.org/wiki/Bond_girl#Eon_Productions_films\">here</a>.</p>","output":"str","x":670,"y":520,"wires":[["977c324d.8678a"]]},{"id":"1400268.eaa45da","type":"function","z":"c99e5b55.507ac8","name":"Concatonate text","func":"output=msg.payload;\n\nmsg.payload={};\nmsg.payload.botresponse={};\nmsg.payload.botresponse.messageout={};\nmsg.payload.botresponse.messageout.output={};\nmsg.payload.botresponse.messageout.output.text = []\nmsg.payload.botresponse.messageout.output.text = output\n\nmsg.params = {\n    context : {}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":480,"wires":[["1d7e07c6.7c8f18"]]},{"id":"db547ccb.1d4c6","type":"link out","z":"a252948d.9913c8","name":"List Bond Films format in","links":["d078904d.af252"],"x":935,"y":380,"wires":[]},{"id":"a2aa52d1.3de2d","type":"function","z":"c99e5b55.507ac8","name":"Remove extra characters","func":"var text = msg.payload.replace (\"\\[\", \"\");\ntext = text.replace (\"\\]\",\"\");\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":440,"wires":[["ba61b2be.fe104"]]},{"id":"ba61b2be.fe104","type":"split","z":"c99e5b55.507ac8","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":440,"wires":[["df10fa45.a1d058"]]},{"id":"df10fa45.a1d058","type":"function","z":"c99e5b55.507ac8","name":"Remove quotes","func":"var text = msg.payload.replace (\"\\'\", \"\");\ntext = text.replace (\"\\'\",\"\");\ntext = text.replace (\"\\\"\",\"\");\ntext = text.replace (\"\\\"\",\"\");\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":440,"wires":[["875b9f33.196de"]]},{"id":"875b9f33.196de","type":"join","z":"c99e5b55.507ac8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":290,"y":480,"wires":[["2fcbeecb.a0f5d2"]]},{"id":"730a267f.158a28","type":"split","z":"c99e5b55.507ac8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":290,"y":300,"wires":[["bfee385f.4d35b8"]]},{"id":"bfee385f.4d35b8","type":"function","z":"c99e5b55.507ac8","name":"Remove extra characters","func":"var text = msg.payload.replace (\"\\)\", \"\\),\");\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":300,"wires":[["2b6a5a04.ba0ad6"]]},{"id":"2b6a5a04.ba0ad6","type":"join","z":"c99e5b55.507ac8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":300,"wires":[["c246cd6b.306ff"]]},{"id":"52631594.394dfc","type":"function","z":"a252948d.9913c8","name":"Pull out film and format","func":"array=[];\narray=msg.payload.entities.filter(function(Bond_Films) {\n    return Bond_Films.entity == \"Canon_Bond_Films\";\n});\n\nvar film=array[0].value;\nmsg.film={};\nmsg.film.name=film;\n\narray=[];\narray=msg.payload.entities.filter(function(Format) {\n    return Format.entity == \"Output_Type\";\n});\n\nif (typeof array[0] == \"undefined\") {\n    msg.format=\"Normal\"\n} else if (array[0].value == \"CSV\") {\n    msg.format=\"CSV\"\n} else {\n    msg.format=\"Normal\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":420,"wires":[["65e15a7f.3bab74"]]},{"id":"65e15a7f.3bab74","type":"dashDB in","z":"a252948d.9913c8","dashDB":"b4e85d7a.dd03a","service":"_ext_","query":"select primaryName, characters from name_basics a, title_principals b, title_basics c where b.tconst = c.tconst and a.nconst = b.nconst and titleType='movie' and characters!='\\N' and primaryTitle=?","params":"msg.film.name","name":"Extract actors in film","x":780,"y":420,"wires":[["4349a73e.6dda58"]]},{"id":"a8931492.12d248","type":"link in","z":"c99e5b55.507ac8","name":"Intent \"List_Principals_In_Film\" in","links":["4349a73e.6dda58"],"x":195,"y":580,"wires":[["72ab55e9.95d61c"]]},{"id":"3b4f220d.bb56ce","type":"template","z":"c99e5b55.507ac8","name":"HTML Template","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.botresponse.messageout.output.text}}\n<br>{{.}}\n{{/payload.botresponse.messageout.output.text}}\n","output":"str","x":720,"y":620,"wires":[["977c324d.8678a"]]},{"id":"9da7a41d.5a0f18","type":"split","z":"c99e5b55.507ac8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":580,"wires":[["ea343899.cfa778"]]},{"id":"ea343899.cfa778","type":"function","z":"c99e5b55.507ac8","name":"Reformat output","func":"actor=msg.payload.PRIMARYNAME\ncharacter=msg.payload.CHARACTERS\ncharacter=character.replace (\"\\[\",\"\");\ncharacter=character.replace (\"\\]\",\"\");\nmsg.payload={};\nmsg.payload=actor + \" played the character \" + character;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":580,"wires":[["daed8b5b.216ac8"]]},{"id":"daed8b5b.216ac8","type":"join","z":"c99e5b55.507ac8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":580,"wires":[["97adfd4f.50ffa"]]},{"id":"97adfd4f.50ffa","type":"function","z":"c99e5b55.507ac8","name":"Reposition payload","func":"output = msg.payload;\nnum_actors = msg.payload.length\nfilm = msg.film.name;\n\nmsg.payload={};\nmsg.payload.botresponse={};\nmsg.payload.botresponse.messageout={};\nmsg.payload.botresponse.messageout.output={};\nmsg.payload.botresponse.messageout.output.text = {};\nmsg.payload.botresponse.messageout.output.text = output;\nmsg.payload.botresponse.messageout.output.text.unshift(\"I think you wanted me to list all main actors in the film \" + film + \". I found \" + num_actors + \" of them. Here is the list:\");\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":620,"wires":[["3b4f220d.bb56ce"]]},{"id":"4349a73e.6dda58","type":"link out","z":"a252948d.9913c8","name":"Intent \"List_Principals_In_Film\" out","links":["a8931492.12d248"],"x":935,"y":420,"wires":[]},{"id":"84ce737c.a9549","type":"dashDB in","z":"a252948d.9913c8","dashDB":"b4e85d7a.dd03a","service":"_ext_","query":"select primaryTitle, characters, titleType, startYear, averageRating, numVotes from name_basics a, title_principals b, title_basics c , title_ratings d where b.tconst = c.tconst and c.tconst = d.tconst and a.nconst = b.nconst and characters!='\\N' and primaryName=? ORDER BY startYear","params":"msg.actor.name","name":"Extract career history of actor","x":780,"y":460,"wires":[["12c67c11.102df4"]]},{"id":"23cfbf78.04c9a","type":"function","z":"a252948d.9913c8","name":"Pull out character and format","func":"array=[];\narray=msg.payload.entities.filter(function(Bond_Girl_Actress) {\n    return Bond_Girl_Actress.entity == \"Bond_Girl_Actresses\";\n});\n\nvar actor=array[0].value;\nmsg.actor={};\nmsg.actor.name=actor;\n\narray=[];\narray=msg.payload.entities.filter(function(Format) {\n    return Format.entity == \"Output_Type\";\n});\n\nif (typeof array[0] == \"undefined\") {\n    msg.format=\"Normal\"\n} else if (array[0].value == \"CSV\") {\n    msg.format=\"CSV\"\n} else {\n    msg.format=\"Normal\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":460,"wires":[["84ce737c.a9549"]]},{"id":"e524dcd8.dbcfc","type":"link in","z":"c99e5b55.507ac8","name":"Intent \"List_Career_History\" in","links":["12c67c11.102df4"],"x":195,"y":760,"wires":[["1e87fc87.ef01b3"]]},{"id":"12c67c11.102df4","type":"link out","z":"a252948d.9913c8","name":"Intent \"List_Career_History\" out","links":["e524dcd8.dbcfc"],"x":935,"y":460,"wires":[]},{"id":"d6ee81d.121328","type":"function","z":"c99e5b55.507ac8","name":"Remove extra characters","func":"Character=msg.payload.CHARACTERS\nCharacter=Character.replace (\"\\[\",\"\");\nCharacter=Character.replace (\"\\]\",\"\");\nmsg.payload.CHARACTERS=Character\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":820,"wires":[["b41f51a6.ae8cf"]]},{"id":"f5db7e.1faaf48","type":"split","z":"c99e5b55.507ac8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":820,"wires":[["d6ee81d.121328"]]},{"id":"b41f51a6.ae8cf","type":"join","z":"c99e5b55.507ac8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":770,"y":820,"wires":[["c8636c84.e96d4"]]},{"id":"9c500f04.73b45","type":"function","z":"c99e5b55.507ac8","name":"Reposition payload","func":"output = msg.payload;\nnum_productions = msg.actor.num_productions\nactor = msg.actor.name;\n\nmsg.payload={};\nmsg.payload.botresponse={};\nmsg.payload.botresponse.messageout={};\nmsg.payload.botresponse.messageout.output={};\nmsg.payload.botresponse.messageout.output.text = {};\nmsg.payload.botresponse.messageout.output.text = \"I think you wanted me to list the career history of  \" + actor + \". I found \" + num_productions + \" productions. Here is the list:\" + output;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":880,"wires":[["977c324d.8678a"]]},{"id":"c8636c84.e96d4","type":"template","z":"c99e5b55.507ac8","name":"HTML Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table>\n    <tr><th>Title</th><th>Character</th><th>Title Type</th><th>Release Year</th><th>Avg Rating</th><th>Num Votes</th></tr>\n    {{#payload}}\n    <tr>\n        <td>{{PRIMARYTITLE}}</td>\n        <td>{{CHARACTERS}}</td>\n        <td>{{TITLETYPE}}</td>\n        <td>{{STARTYEAR}}</td>\n        <td>{{AVERAGERATING}}</td>\n        <td>{{NUMVOTES}}</td>\n    </tr>\n    {{/payload}}\n</table>","output":"str","x":520,"y":880,"wires":[["9c500f04.73b45"]]},{"id":"1e87fc87.ef01b3","type":"function","z":"c99e5b55.507ac8","name":"Num Productions","func":"num_productions = msg.payload.length\nmsg.actor.num_productions = num_productions\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":760,"wires":[["b4145934.133988"]]},{"id":"a4d31490.38e1b8","type":"debug","z":"a252948d.9913c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":500,"wires":[]},{"id":"72ab55e9.95d61c","type":"switch","z":"c99e5b55.507ac8","name":"","property":"format","propertyType":"msg","rules":[{"t":"eq","v":"Normal","vt":"str"},{"t":"eq","v":"CSV","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":600,"wires":[["9da7a41d.5a0f18"],["e13ad469.1718a8"]]},{"id":"340e955b.2d6eda","type":"template","z":"c99e5b55.507ac8","name":"HTML Template","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.botresponse.messageout.output.text}}\n<br>{{.}}\n{{/payload.botresponse.messageout.output.text}}\n","output":"str","x":720,"y":700,"wires":[["977c324d.8678a"]]},{"id":"e13ad469.1718a8","type":"split","z":"c99e5b55.507ac8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":660,"wires":[["fcb74253.0a1c4"]]},{"id":"fcb74253.0a1c4","type":"function","z":"c99e5b55.507ac8","name":"Reformat output","func":"actor=msg.payload.PRIMARYNAME\ncharacter=msg.payload.CHARACTERS\ncharacter=character.replace (\"\\[\",\"\");\ncharacter=character.replace (\"\\]\",\"\");\nmsg.payload={};\nmsg.payload=actor + \", \" + character;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":660,"wires":[["1bb0800d.5e811"]]},{"id":"1bb0800d.5e811","type":"join","z":"c99e5b55.507ac8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":660,"wires":[["c5312644.a7fe08"]]},{"id":"c5312644.a7fe08","type":"function","z":"c99e5b55.507ac8","name":"Reposition payload","func":"output = msg.payload;\nnum_actors = msg.payload.length\nfilm = msg.film.name;\n\nmsg.payload={};\nmsg.payload.botresponse={};\nmsg.payload.botresponse.messageout={};\nmsg.payload.botresponse.messageout.output={};\nmsg.payload.botresponse.messageout.output.text = {};\nmsg.payload.botresponse.messageout.output.text = output;\nmsg.payload.botresponse.messageout.output.text.unshift(\"Actor, Character\");\nmsg.payload.botresponse.messageout.output.text.unshift(\"\");\nmsg.payload.botresponse.messageout.output.text.unshift(\"I think you wanted me to list all main actors in the film \" + film + \" in CSV format. I found \" + num_actors + \" of them. Here is the ouput:\");\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":700,"wires":[["340e955b.2d6eda"]]},{"id":"c27df0fd.533c5","type":"function","z":"c99e5b55.507ac8","name":"Reposition payload","func":"output = msg.payload;\nnum_productions = msg.actor.num_productions\nactor = msg.actor.name;\n\nmsg.payload={};\nmsg.payload.botresponse={};\nmsg.payload.botresponse.messageout={};\nmsg.payload.botresponse.messageout.output={};\nmsg.payload.botresponse.messageout.output.text = {};\nmsg.payload.botresponse.messageout.output.text = output;\nmsg.payload.botresponse.messageout.output.text.unshift(\"Title, Character, Title Type, Release Year, Avg Rating, Num Votes\");\nmsg.payload.botresponse.messageout.output.text.unshift(\"\");\nmsg.payload.botresponse.messageout.output.text.unshift(\"I think you wanted me to list the career history of  \" + actor + \" in CSV format. I found \" + num_productions + \" productions. Here is the list:\");\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":960,"wires":[["f91d0248.96a0c"]]},{"id":"f91d0248.96a0c","type":"template","z":"c99e5b55.507ac8","name":"HTML Template","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.botresponse.messageout.output.text}}\n<br>{{.}}\n{{/payload.botresponse.messageout.output.text}}\n","output":"str","x":780,"y":960,"wires":[["977c324d.8678a"]]},{"id":"b4145934.133988","type":"switch","z":"c99e5b55.507ac8","name":"","property":"format","propertyType":"msg","rules":[{"t":"eq","v":"Normal","vt":"str"},{"t":"eq","v":"CSV","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":840,"wires":[["f5db7e.1faaf48"],["f1b41ee7.fefa4"]]},{"id":"f1b41ee7.fefa4","type":"split","z":"c99e5b55.507ac8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":920,"wires":[["9c469050.c0f24"]]},{"id":"9c469050.c0f24","type":"function","z":"c99e5b55.507ac8","name":"Remove extra characters","func":"Character=msg.payload.CHARACTERS\nCharacter=Character.replace (\"[\",\"\");\nCharacter=Character.replace (\"]\",\"\");\nCharacter=Character.replace (/\"/g,\"\");\n\nmsg.payload.CHARACTERS=Character\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":920,"wires":[["6fa1c729.ab8d38"]]},{"id":"6fa1c729.ab8d38","type":"csv","z":"c99e5b55.507ac8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":770,"y":920,"wires":[["25e1299a.095716"]]},{"id":"25e1299a.095716","type":"join","z":"c99e5b55.507ac8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":960,"wires":[["c27df0fd.533c5"]]}]
