bond-film-flow.json
[{"id":"a252948d.9913c8","type":"tab","label":"Front End Flow","disabled":false,"info":"What this is intended to do is help answer a question I and my colleagues get asked a lot, which is \"When does this IBM Power System stop being sold/reach end of support?\".\r\n\r\nSo, my first pass at this helps answer that question.\r\n\r\nI am running this version in a Docker Container on an IBM Power System.\r\n\r\nIt should also work elsewhere, but you will need the Python scripts and the libraries they use installed in your image."},{"id":"c99e5b55.507ac8","type":"tab","label":"Format output","disabled":false,"info":""},{"id":"5534f964.c121c8","type":"split","z":"a252948d.9913c8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":130,"y":520,"wires":[["d8a254a8.0d8a78"]]},{"id":"d8a254a8.0d8a78","type":"switch","z":"a252948d.9913c8","name":"What was the question?","property":"lifecycle_date","propertyType":"msg","rules":[{"t":"eq","v":"Announcement","vt":"str"},{"t":"eq","v":"Generally Available","vt":"str"},{"t":"eq","v":"Withdrawn from Marketing","vt":"str"},{"t":"eq","v":"EoS","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":310,"y":540,"wires":[["39bc39e1.e22616"],["3f44415.bffccbe"],["d7155056.7e06d"],["541699d.baa2f68"]]},{"id":"d84099e3.3c6a48","type":"http in","z":"a252948d.9913c8","name":"BOT Home Page","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":100,"y":760,"wires":[["fd03323b.2ddd1"]]},{"id":"7994752d.33d7dc","type":"template","z":"a252948d.9913c8","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n# Copyright 2018 IBM\n#\n# Licensed under the Apache License, Version 2.0 (the \"License\");\n# you may not use this file except in compliance with the License.\n# You may obtain a copy of the License at\n#\n#     http://www.apache.org/licenses/LICENSE-2.0\n#\n# Unless required by applicable law or agreed to in writing, software\n# distributed under the License is distributed on an \"AS IS\" BASIS,\n# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n# See the License for the specific language governing permissions and\n# limitations under the License.\n-->\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>My BOT</h1>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div>\n\t      <form>\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/><br/>\n\t      </form>\n\t      <button onclick=\"javascript:onChatClick()\" id=\"id_enter\">Send</button>\n\t  </div>\n    </div>\n    \n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script>{{{payload.script}}}</script>\n  </body>\n</html>\n","x":519,"y":760,"wires":[["32fc5f27.1ec9d"]]},{"id":"32fc5f27.1ec9d","type":"http response","z":"a252948d.9913c8","name":"","x":733,"y":760,"wires":[]},{"id":"b16dbdf4.59f6c","type":"http in","z":"a252948d.9913c8","name":"BOT REST API","url":"/botchat","method":"post","upload":false,"swaggerDoc":"","x":120,"y":200,"wires":[["73846e09.4c6f4"]]},{"id":"b07dc868.2858d8","type":"http response","z":"a252948d.9913c8","name":"","statusCode":"","headers":{},"x":1090,"y":500,"wires":[]},{"id":"89686aa2.4dc528","type":"function","z":"a252948d.9913c8","name":"Post Service Processing","func":"var request=global.get('request');\nmsg.req= {};\nmsg.req=request;\n\nvar response=global.get('response');\nmsg.res= {};\nmsg.res=response;\n\nvar params=global.get('params');\nmsg.params= {};\nmsg.params=params;\n\nvar mydata=global.get('mydata'); \nmsg.mydata = {};\nmsg.mydata=mydata;\nmsg.mydata.messageout = msg.payload;\n\nvar assist_out=global.get('assist_out');\nmsg.assist_out = {};\nmsg.assist_out=assist_out;\n\nvar lifecycle_date=assist_out.context.Lifecycle_date;\nmsg.lifecycle_date={};\nmsg.lifecycle_date=lifecycle_date;\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":480,"wires":[["5534f964.c121c8"]]},{"id":"fd03323b.2ddd1","type":"template","z":"a252948d.9913c8","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"$(document).ready(function() {\n    javascriptCheck();\n    $('#id_contextdump').hide();\n    enterbutton();\n    invokeAjax (\"Hello\");\n});\n\n// if javascript is enabled on the browser then can remove the warning message\nfunction javascriptCheck() {\n    $('#no-script').remove();\n}\n\n// creates div for interaction with bot      \nfunction createNewDiv(who, message) {\n    var txt = who + ' : ' + message;\n    return $('<div></div>').html(txt);\n}\n\n// appends latest communication with bot to botchathistory\nfunction chat(person, txt) {\n    $('#id_botchathistory').append(createNewDiv(person, txt));\n}    \n\n// sets pressing of enter key to perform same action as send button\nfunction enterbutton(){\n    $(function() {\n        $(\"form input\").keypress(function (e) {\n        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n             $('#id_enter').click();\n             return false;\n        } else {\n        return true;\n        }\n     });\n    });\n}\n\n// User has entered some text.\nfunction onChatClick() {\n    var txt = $('#id_chattext').val();\n    chat('You', txt); \n    invokeAjax(txt);\n    $('#id_chattext').val('');\n}\n\nfunction processOK(response) {\n    console.log(response);\n    console.log(response.botresponse.messageout);\n    console.log(response.botresponse.messageout.output.text);\n    console.log(response.botresponse.messageout.context);\n    chat('Bot', response.botresponse.messageout.output.text); \n    $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n}\n      \nfunction processNotOK() {\n    chat('Error', 'Error whilst attempting to talk to Bot');\n}\n      \nfunction invokeAjax(message) {\n    var contextdata = $('#id_contextdump').data('convContext');\n    console.log('checking stashed context data');\n    console.log(contextdata);\n        \n    var ajaxData = {};\n    ajaxData.msgdata = message;\n    if (contextdata) {\n        ajaxData.context = contextdata;    \n    }\n\n    $.ajax({\n        type: 'POST',\n        url: 'botchat',\n        data: ajaxData,\n        success: processOK,\n        error: processNotOK\n    });\n}","output":"str","x":323,"y":760,"wires":[["7994752d.33d7dc"]]},{"id":"6952863b.0a76c8","type":"comment","z":"a252948d.9913c8","name":"Conversation BOT Template","info":"","x":139,"y":719,"wires":[]},{"id":"d44f3680.694228","type":"comment","z":"a252948d.9913c8","name":"Conversation REST API","info":"","x":140,"y":140,"wires":[]},{"id":"8093f36d.216d2","type":"pythonshell in","z":"a252948d.9913c8","name":"Sales Manual Product Lifecycle Extractor","pyfile":"/usr/src/node-red/sales_manual_product_lifecycle_extractor.py","virtualenv":"/usr/src/node-red/venv","continuous":false,"stdInData":false,"x":240,"y":420,"wires":[["1b681f33.e9ea11"]]},{"id":"9171309.fad94d","type":"pythonshell in","z":"a252948d.9913c8","name":"Sales Manual Lookup","pyfile":"/usr/src/node-red/sales_manual_finder.py","virtualenv":"/usr/src/node-red/venv","continuous":false,"stdInData":false,"x":440,"y":360,"wires":[["7c27cc0e.93dd04"]]},{"id":"c72d4f11.f5ba3","type":"change","z":"a252948d.9913c8","name":"Pass only MTM to scripts","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.context.Server_MTM","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":360,"wires":[["9171309.fad94d"]]},{"id":"39bc39e1.e22616","type":"switch","z":"a252948d.9913c8","name":"Annoucement requested","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":480,"wires":[["6d8bb88a.f07fc8"]]},{"id":"3f44415.bffccbe","type":"switch","z":"a252948d.9913c8","name":"GA requested","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":520,"wires":[["6d8bb88a.f07fc8"]]},{"id":"d7155056.7e06d","type":"switch","z":"a252948d.9913c8","name":"WDFM requested","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":560,"wires":[["6d8bb88a.f07fc8"]]},{"id":"541699d.baa2f68","type":"switch","z":"a252948d.9913c8","name":"EoS requested","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":600,"wires":[["6d8bb88a.f07fc8"]]},{"id":"6f90bd81.97b754","type":"switch","z":"a252948d.9913c8","name":"Check for unannounced dates","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"-","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":770,"y":660,"wires":[["2ff14f76.e5954"],["b0a9f9cf.567848"]]},{"id":"6d8bb88a.f07fc8","type":"function","z":"a252948d.9913c8","name":"Remove spaces","func":"msg.payload=msg.payload.trim();\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":540,"wires":[["6f90bd81.97b754"]]},{"id":"1b681f33.e9ea11","type":"switch","z":"a252948d.9913c8","name":"Check for missing Sales Manual","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Missing","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":550,"y":420,"wires":[["7e16e7d2.13e7b8"],["89686aa2.4dc528"]]},{"id":"779da7bf.2bbb88","type":"switch","z":"a252948d.9913c8","name":"Check intent","property":"intent","propertyType":"msg","rules":[{"t":"eq","v":"Greeting","vt":"str"},{"t":"eq","v":"Check_Date","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":310,"y":260,"wires":[["b3f8803d.b8091","8370cafa.d8dd78"],["ba83309c.eecb7"]]},{"id":"595d24ac.905abc","type":"function","z":"a252948d.9913c8","name":"Pull out intent","func":"var intent=msg.payload.intents[0].intent;\nmsg.intent={};\nmsg.intent=intent\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":200,"wires":[["779da7bf.2bbb88"]]},{"id":"da7768a7.8587f8","type":"watson-conversation-v1","z":"a252948d.9913c8","name":"Bond Assistant","workspaceid":"09a96335-e80e-4aa5-9b4b-7af6d291e625","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":580,"y":200,"wires":[["595d24ac.905abc"]]},{"id":"756e49a9.e566d8","type":"link out","z":"a252948d.9913c8","name":"Bot REST API Out","links":["6c118439.49adec"],"x":335,"y":140,"wires":[]},{"id":"e866211b.6649f","type":"link in","z":"a252948d.9913c8","name":"Initial Check for previous Option In","links":["8fed7111.07b5"],"x":415,"y":140,"wires":[[]]},{"id":"8370cafa.d8dd78","type":"link out","z":"a252948d.9913c8","name":"Intent \"Greeting\" format out","links":["6c43263e.fbfda8"],"x":935,"y":220,"wires":[]},{"id":"797b77c.3a0b788","type":"link in","z":"a252948d.9913c8","name":"Output to webpage in","links":["9820e5fa.2d6ad8"],"x":995,"y":500,"wires":[["b07dc868.2858d8"]]},{"id":"a38f1272.bfc2b","type":"link out","z":"a252948d.9913c8","name":"Intent \"Check_Date\" out","links":["f7fa9650.632808"],"x":935,"y":260,"wires":[]},{"id":"3cde4938.984246","type":"link in","z":"a252948d.9913c8","name":"Intent \"Check_Date\" first pass in","links":["8dc9b7c9.03eb68"],"x":935,"y":300,"wires":[["c72d4f11.f5ba3"]]},{"id":"d924c349.527f2","type":"debug","z":"a252948d.9913c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2020,"y":380,"wires":[]},{"id":"7c27cc0e.93dd04","type":"change","z":"a252948d.9913c8","name":"Record URL","rules":[{"t":"set","p":"sales_manual_url","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":360,"wires":[["8093f36d.216d2"]]},{"id":"7e16e7d2.13e7b8","type":"link out","z":"a252948d.9913c8","name":"Missing Sales Manual format in","links":["80ae9611.a83ed8"],"x":935,"y":400,"wires":[]},{"id":"2ff14f76.e5954","type":"link out","z":"a252948d.9913c8","name":"No Date format out","links":["648726e0.88c678"],"x":935,"y":640,"wires":[]},{"id":"b0a9f9cf.567848","type":"link out","z":"a252948d.9913c8","name":"Date found format out","links":["9a35c308.92be"],"x":935,"y":680,"wires":[]},{"id":"b3f8803d.b8091","type":"debug","z":"a252948d.9913c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":240,"wires":[]},{"id":"ba83309c.eecb7","type":"debug","z":"a252948d.9913c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":260,"wires":[]},{"id":"14588c05.8e52c4","type":"function","z":"c99e5b55.507ac8","name":"Set botresponse","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["18af5255.da1bee"]]},{"id":"a5aa1cf1.33a06","type":"link in","z":"c99e5b55.507ac8","name":"Intent \"Welcome\" format in","links":["8370cafa.d8dd78"],"x":195,"y":120,"wires":[["14588c05.8e52c4"]]},{"id":"977c324d.8678a","type":"link out","z":"c99e5b55.507ac8","name":"Output to webpage out","links":["797b77c.3a0b788"],"x":935,"y":200,"wires":[]},{"id":"18af5255.da1bee","type":"template","z":"c99e5b55.507ac8","name":"HTML Template adds blog link","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.botresponse.messageout.output.text}}\n<br>{{.}}\n{{/payload.botresponse.messageout.output.text}}\n<p>You may also find this blog useful, about how those older IBM Power Systems were great, but the time has come to move up to POWER9! You can access that\n<a target=\"_blank\" href=\"https://www.linkedin.com/pulse/those-older-ibm-power-systems-were-great-time-has-come-david-spurway\">here</a>.</p>","output":"str","x":590,"y":120,"wires":[["977c324d.8678a"]]},{"id":"7c18afe8.1af77","type":"link in","z":"c99e5b55.507ac8","name":"Intent \"Check_Date\" with option format in","links":["2cf2d8ab.73ca48"],"x":195,"y":200,"wires":[["4a948a5c.fbf6c4"]]},{"id":"4a948a5c.fbf6c4","type":"function","z":"c99e5b55.507ac8","name":"Set botresponse","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nmsg.response_text = {};\nmsg.response_text = msg.payload.botresponse.messageout.output.generic[0].text\nmsg.response_text = msg.response_text +\" and \" +msg.payload.botresponse.messageout.output.generic[1].text\n\nmsg.title ={};\nmsg.title = msg.payload.botresponse.messageout.output.generic[2].title\n\nmsg.options = {};\nmsg.options = msg.mydata.messageout.output.generic[2].options;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["d48519c4.3dc938"]]},{"id":"d48519c4.3dc938","type":"template","z":"c99e5b55.507ac8","name":"HTML Template","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#response_text}}\n<br>{{.}}\n{{/response_text}}\n{{title}}\n{{#options}}\n<br>\n<button onclick='document.getElementById(\"id_chattext\").value=\"{{value.input.text}}\";onChatClick();'>{{label}}</button>\n{{/options}}","output":"str","x":620,"y":200,"wires":[["977c324d.8678a"]]},{"id":"a3bab47b.b316f8","type":"link in","z":"c99e5b55.507ac8","name":"Missing Sales Manual format out","links":["7e16e7d2.13e7b8"],"x":195,"y":260,"wires":[["c246cd6b.306ff"]]},{"id":"c246cd6b.306ff","type":"function","z":"c99e5b55.507ac8","name":"Post Service Processing","func":"var request=global.get('request');\nmsg.req= {};\nmsg.req=request;\n\nvar response=global.get('response');\nmsg.res= {};\nmsg.res=response;\n\nvar params=global.get('params');\nmsg.params= {};\nmsg.params=params;\n\nvar mydata=global.get('mydata'); \nmsg.mydata = {};\nmsg.mydata=mydata;\nmsg.mydata.messageout = \"unfortunately the Sales Manual appears to be missing so I can't check the date at this time\";\n\nvar assist_out=global.get('assist_out');\nmsg.assist_out = {};\nmsg.assist_out=assist_out;\nvar intent=assist_out.intents[0].intent;\nmsg.intent={};\nmsg.intent=intent\nvar lifecycle_date=assist_out.context.Lifecycle_date;\nmsg.lifecycle_date={};\nmsg.lifecycle_date=lifecycle_date;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["64d3d40a.fa67cc"]]},{"id":"64d3d40a.fa67cc","type":"function","z":"c99e5b55.507ac8","name":"Set botresponse","func":"msg.mydata.messageout = msg.assist_out;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nerror_message = \" is that the Sales Manual for that server appears to be missing. That means I can't get the dates for that server. Sorry about that!\"\n\nmsg.payload.botresponse.messageout.output.text.push(error_message);\n\nmsg.params = {\n    context : {}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":260,"wires":[["de3bc0f2.6a3f5"]]},{"id":"c3cc7aca.ee9578","type":"template","z":"c99e5b55.507ac8","name":"HTML Template add Offering Info URL","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.botresponse.messageout.output.text}}\n<br>{{.}}\n{{/payload.botresponse.messageout.output.text}}\n<p>You may may want to check yourself, by searching on the IBM Offering Information site. You can access that\n<a target=\"_blank\" href=\"https://www-01.ibm.com/common/ssi/SearchResult.wss?request_locale=en\">here</a>.</p>","output":"str","x":650,"y":320,"wires":[["977c324d.8678a"]]},{"id":"de3bc0f2.6a3f5","type":"function","z":"c99e5b55.507ac8","name":"Concatonate text","func":"output = msg.payload.botresponse.messageout.output.text\nmsg.payload.botresponse.messageout.output.text = []\nmsg.payload.botresponse.messageout.output.text[0] = output.join(' ')\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["c3cc7aca.ee9578"]]},{"id":"47453cb6.1dcb44","type":"function","z":"c99e5b55.507ac8","name":"No date yet announced","func":"msg.payload = \" is that there is no published \" +msg.lifecycle_date +\" date in the Sales Manual for the \" +msg.assist_out.context.Server_MTM +\" so that date has not been announced yet.\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["ed2e02bc.6750d"]]},{"id":"f44158da.8b8f08","type":"link in","z":"c99e5b55.507ac8","name":"No Date format in","links":["2ff14f76.e5954"],"x":195,"y":400,"wires":[["47453cb6.1dcb44"]]},{"id":"ed2e02bc.6750d","type":"function","z":"c99e5b55.507ac8","name":"Set botresponse","func":"msg.mydata.messageout = msg.assist_out;\n\nvar result_date=msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nmsg.payload.botresponse.messageout.output.text.push(result_date);\n\nmsg.params = {\n    context : {}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":460,"wires":[["2e3dabe.46b6d54","285c3ee7.ebf2c2"]]},{"id":"b1693b50.5b7238","type":"template","z":"c99e5b55.507ac8","name":"HTML Template add Sales Manual URL","field":"payload.botresponse.messageout.output.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.botresponse.messageout.output.text}}\n<br>{{.}}\n{{/payload.botresponse.messageout.output.text}}\n{{#payload.botresponse.messageout.output.URL}}\n<p>You may may want to check yourself, by reading the Sales Manual page for that server. You can access that\n<a target=\"_blank\" href={{.}}>here</a>.</p>\n{{/payload.botresponse.messageout.output.URL}}","output":"str","x":840,"y":520,"wires":[["977c324d.8678a"]]},{"id":"2e3dabe.46b6d54","type":"function","z":"c99e5b55.507ac8","name":"Concatonate text","func":"output = msg.payload.botresponse.messageout.output.text\nmsg.payload.botresponse.messageout.output.text = []\nmsg.payload.botresponse.messageout.output.text[0] = output.join(' ')\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":460,"wires":[["6a3929b3.fcea08"]]},{"id":"6a3929b3.fcea08","type":"function","z":"c99e5b55.507ac8","name":"Restore URL","func":"var URL=global.get('sales_manual_url');\nmsg.payload.botresponse.messageout.output.URL= \"\";\nmsg.payload.botresponse.messageout.output.URL=URL;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":520,"wires":[["b1693b50.5b7238"]]},{"id":"15e7e0fb.64671f","type":"function","z":"c99e5b55.507ac8","name":"Phrase text of response","func":"msg.payload = \" is that the published \" +msg.lifecycle_date +\" date in the Sales Manual for the \" +msg.assist_out.context.Server_MTM +\" is \" +msg.payload +\".\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":460,"wires":[["ed2e02bc.6750d"]]},{"id":"4e31d464.9013ac","type":"link in","z":"c99e5b55.507ac8","name":"Date found format in","links":["b0a9f9cf.567848"],"x":195,"y":460,"wires":[["15e7e0fb.64671f"]]},{"id":"285c3ee7.ebf2c2","type":"debug","z":"c99e5b55.507ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":420,"wires":[]},{"id":"73846e09.4c6f4","type":"function","z":"a252948d.9913c8","name":"Pre Service Processing","func":"msg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\nmsg.params.apikey = \"brt5stRsDIIwV1fXF61wrRJ3cFaUzuw1K1gJN11fpIoi\"\n\nglobal.set(\"mydata\",{});\nglobal.set(\"mydata\",msg.mydata);\nglobal.set(\"params\",{});\nglobal.set(\"params\",msg.params);\nglobal.set(\"request\",{});\nglobal.set(\"request\",msg.req);\nglobal.set(\"response\",{});\nglobal.set(\"response\",msg.res);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["da7768a7.8587f8"]]}]
